.reset-password-container{
    width: 400px;
  margin-top: 130px;
  margin-left: 465px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-family: "Inter Tight", sans-serif;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}