@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@300;400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Faster+One&family=Gochi+Hand&family=Rajdhani:wght@700&family=Teko:wght@600&display=swap");

.center-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  position: relative;
  height: 100vh;
  margin-top: 2rem;
}
.logo {
  display: flex;
  justify-content: center;
  margin-top: -30px;
  margin-bottom: -20px;
}

.video-container {
  position: relative;
  width: 90%;
  height: 100%;
  overflow: hidden;
}

.fullscreen-video {
  display: block;
  width: 100%;
  height: 100%;
}

.button-container {
  text-align: center;
}

.overlay-link {
  text-decoration: none;
}

.overlay-link h1 {
  color: #00000085;
  padding: 10px 20px;
  font-size: 25px;
  cursor: pointer;
  font-weight: 500;
  font-family: Oswald, sans-serif;
}
