.parallax {
  background: url("public/picture3.webp") no-repeat center;
  background-size: cover;
  background-attachment: fixed;
  height: 500px;
  width: 100%;
  transition: filter 0.5s;
}

.parallax.grayscale {
  filter: grayscale(90%);
}
